.active{
    color: #28b485!important;
    font-weight: 700;
}

.empty{
    visibility: hidden;
}

.currentDate{
    background-color: #28b485;
    border-radius: 50% 10%;
    color: #fff;
}

.reminder{
    border-radius: 50% 10%;
    background-color: rgba(255,255,255, 0.8);
}
